# --- CORE & DATA ---
pandas>=2.1.0
numpy>=1.26.0
joblib>=1.3.2

# --- API CLIENT ---
requests>=2.31.0

# --- MACHINE LEARNING ---
scikit-learn==1.5.2

# --- FRONTEND ---
streamlit>=1.28.0
matplotlib>=3.8.0